@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");

body {
    background-image: url(/images/space.png);
}

.container {
    border: 1px solid grey;
    margin: 1rem;
    background-color: rgb(228, 223, 223);
}

[data-tab-info] {
    display: none;
}

.active[data-tab-info] {
    display: block;
}

.tab-content {
    margin-top: 1rem;
    padding-left: 1rem;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.tabs {
    border-bottom: 1px solid grey;
    background-color: rgb(0, 0, 0);
    font-size: 25px;
    color: rgb(248, 248, 248);
    display: flex;
    margin: 0;
    text-decoration: underline;
}

.tabs span {
    background: rgb(0, 7, 0);
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
}

.tabs span:hover {
    background: rgb(0, 0, 0);
    cursor: pointer;
    color: rgb(4, 69, 248);
}

.topHeader {
    text-align: center;
    font-size: 40px;
    font-family: "Audiowide", cursive;
    color: white;
    margin-bottom: 1rem;
    text-decoration: underline;
    display: grid;
}

.disclosure {
    color: white;
    text-align: center;
    word-wrap: break-word;
}

.feed-title {
    color: blueviolet;
    font-size: x-large;
    width: fit-content;

}

.navButton {
    background-color: #000000;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.navButton:hover,
.navButton:focus {
    background-color: #1f1e1e;
}

#peopleInSpace {
    color: white !important;
    text-align: right;
}
table {
    background: #ffffff;
    border-radius: 0.25em;
    border-collapse: collapse;
    margin: 1em;
  }
  th {
    border-bottom: 1px solid #364043;
    background-color: rgb(175, 126, 240);
    color: #000000;
    font-size: 0.85em;
    font-weight: 600;
    padding: 0.5em 1em;
    text-align: left;
  }
  td {
    color: #000000;
    font-weight: 400;
    padding: 0.65em 1em;
  }
  .disabled td {
    color: #4F5F64;
  }
  
  tbody tr:hover {
    background: #e5d2f1;
  }
  .loader {
    position: fixed;
    font-size: xx-large;
    color: #dddddd;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
    transition: opacity 0.75s, visibility 0.75s;

  }
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #303481;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  @keyframes loading {
    from { transform: rotate(0turn) }
    to {transform: rotate(1turn)}
  }